grant codeBase "file:../-" {
    permission java.security.AllPermission;
    permission java.net.SocketPermission "*:1024-", "connect,accept";
    permission java.net.SocketPermission "localhost:1099", "connect, resolve";
    permission java.net.SocketPermission "localhost:1024-", "connect, resolve";
    permission java.net.SocketPermission "localhost:1024-", "accept, resolve";
    permission java.lang.RuntimePermission "setSecurityManager"; 
    permission java.lang.RuntimePermission "createSecurityManager"; 
    permission java.lang.RuntimePermission "usePolicy";
    permission java.security.AllPermission;
};
